/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

canvas, video {
  position: absolute; 
  top: 0; 
  left: 0; 
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
